@use '@/styles/tokens' as *;

.stat-box {
  padding: $spacing-8 $spacing-12;
  background: $color-gray-white-smoke;
  border-radius: $radius-icon-button;

  &__label {
    margin: 0;
    font-size: $size-body-3;
    color: $color-text-primary;
  }

  &__valor {
    margin: $spacing-4 0 0;
    font-size: $size-heading-3;
    font-weight: $weight-body-1;
    color: $color-text-primary;
  }
}
